@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
    width: 2px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #1e1e1e; /* dark gray background */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #555; /* thumb color */
    border-radius: 10px;
  }

  :root {
    --vh: 1vh;
  }
  